.container {
  position: relative;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 2rem 1rem;
  padding-top: 10%;
}



/* --- CONTENIDO --- */
.content {
  position: relative;
  z-index: 10;
  text-align: center;
  width: 100%;
  max-width: 1200px;
}


.cardGrid {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

/* --- RESPONSIVE LOGIC --- */
/* Desktop (1024px) */
@media (min-width: 1024px) {  
  .cardGrid {
    gap: 2rem;
  }
}